APP_NAME="mini-RAG"
APP_VERSION = "0.1"
API_KEY = 

FILE_ALLOWED_TYPE = ["text/plain","application/pdf" ]
FILE_MAX_SIZE = 10485760 # 10MB    # 10 * 1024 * 1024
FILE_CHUNK_SIZE = 512000  # 500KB

MONGO_URI = "mongodb://localhost:27017"
MONGODB_DATA_BASE = "mini-RAG"

#================ LLM Config =================  

# CHANGE THESE VALUES AFTER SEARCH IS NECESSERY 

GENERATION_BACKEND = "OPENAI"
EMBEDDING_BACKEND = "COHERE"

OPENAI_API_KEY = ""
OPENAI_API_URL =
COHERE_API_KEY = ""

GENERATION_MODEL_ID = "gpt-3.5-turbo"
EMBEDDING_MODEL_ID = "embed-english-v2.0"
EMBEDDING_MODEL_SIZE = 1024

DEFAULT_INPUT_MAX_CHARACTERS = 1000
DEFAULT_OUTPUT_MAX_CHARACTERS = 1000
DEFAULT_TEMPERATURE = 0.7

#================ Vector DB Config =================
VECTOR_DB_BACKEND = "QDRANT"
VECTOR_DB_PATH = "qdrant_database"
VECTOR_DB_DISTANCE_METHOD = "cosine"  # Options: "EUCLIDEAN", "COSINE", "DOT"  

#================ Templates Config =================
DEFAULT_LANGUAGE = "en"  # Default language for templates
PRIMARY_LANGUAGE = "en"  # Primary language for templates
